In [4]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5


s

15

In [7]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [8]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for p in list_tohoku:
    print(p)

5349
5478
5344
4644
4968
6259

In [10]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

list_shikoku = [3148, 2991, 2966, 2457]

In [11]:
list_shikoku = [3148, 2991, 2966, 2457]

In [16]:
avg_shikoku = 0.0
for val in list_shikoku:
    avg_shikoku += val
    
avg_shikoku /= len(list_shikoku)
print(avg_shikoku)

2890.5

In [17]:
dic={'A':100,'B':20,'C':3000}

In [19]:
dic['A']

100

In [20]:
for key in dic :
    print(key)

A
B
C

In [22]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [23]:
from statistics import *
print(mean(list_shikoku ))

2890.5

In [25]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [27]:
s=0
for x in dict_tohoku:
    print(dict_tohoku[x])
    s+=dict_tohoku[x]
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

In [28]:
mean(dict_tohoku.values())

5340.333333333333